---
title: 11ty Boilerplate
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://cdn.jsdelivr.net/gh/hankhank10/alpine-fetch@main/alpine-fetch.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-green-100 p-4>
    <h1 class="text-center font-bold text-black font-arial">Products</h1>
    <div class="flex justify-center items-center h-screen">
        <div x-data="{products: $fetchjson('https://dummyjson.com/products/14', jsonItem = 'thumbnail')}">
                <div class="flex items-center mb-4">
                    <img alt="product" x-bind:src="products" class="rounded-lg shadow-md max-w-sm h-auto mr-4"/>
                </div>
            </div>
        

        <div x-data="{products: $fetchjson('https://dummyjson.com/products/8', jsonItem = 'thumbnail')}">
            <div class="flex items-center mb-4">
                <img alt="product" x-bind:src="products" class="rounded-lg shadow-md max-w-sm h-auto mr-4"/>
            </div>
        </div>
    </div>
</body>
</html>
